@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #3333cc;
  --secondary: #f0f0f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-Poppins);
  --font-mono: var(--font-Poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:#ededed;
    --foreground:#0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, sans-serif;
}
@font-face {
  font-family: 'UrduType';
  src:url('/fonts/urdutype.ttf')  format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Quran';
  src:url('/fonts/muhammadi_qurani.ttf')  format('truetype');
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Arabic';
  src:url('/fonts/Amiri-Regular.ttf')  format('truetype');
  font-style: normal;
  font-display: swap;
}

:root {
  --font-nastaliq: 'Noto Nastaliq Urdu', serif;
}

.match {
  background: rgba(255, 111, 0, 0.4);
}
.match[data-idx] {         /* or add a .current class */
  background: rgba(1, 255, 56, 0.6);
}


@layer utilities {
  .font-urdu {
    font-family: var(--font-nastaliq);
  }
  .font-urdutype {
    font-family: 'UrduType', sans-serif;
  }
  .font-quran {
    font-family: 'Quran', sans-serif;
  }
  .font-arabic {
    font-family: 'Arabic', sans-serif;
  }
  .font-poppins {
    font-family: Poppins, sans-serif;
  }
  .bg-primary {
    background-color: var(--color-primary);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .border-primary {
    border-color: var(--color-primary);
  }
}



